# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

dev:
  APP_NAME: serverless-nodejs-starter

prod:
  APP_NAME: serverless-nodejs


  Service Information
  service: sites-app-api
  stage: prod
  region: us-east-2
  stack: sites-app-api-prod
  api keys:
    None
  endpoints:
    POST - https://fhx1t32nxl.execute-api.us-east-2.amazonaws.com/prod/sites
    GET - https://fhx1t32nxl.execute-api.us-east-2.amazonaws.com/prod/sites/{id}
    GET - https://fhx1t32nxl.execute-api.us-east-2.amazonaws.com/prod/sites
    PUT - https://fhx1t32nxl.execute-api.us-east-2.amazonaws.com/prod/sites/{id}
    DELETE - https://fhx1t32nxl.execute-api.us-east-2.amazonaws.com/prod/sites/{id}
  functions:
    create: sites-app-api-prod-create
    get: sites-app-api-prod-get
    list: sites-app-api-prod-list
    update: sites-app-api-prod-update
    delete: sites-app-api-prod-delete
  layers:
    None
  Jeds-MacBook-Pro:sites-app-api jedpeek$ 
